			<b>Debrief</b>
            <p>
                When you played the game, you were randomly assigned to one of two groups to a play a version of Space Oddity with or without self-efficacy inducing features.
            </p>
            <p>
                Our goals are:
            </p>
			<ul>
                <li>To determine if self-efficacy supporting features increase players' self-efficacy in Space Oddity, in video games, and in life.</li>
                <li>To determine if self-efficacy supporting features affect player experience in regards to enjoyment and domination over the game.</li>
			</ul>

	


